{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'profile.css' %}">
</head>
<body>
    <div class="profile-container">
   <div class="profile-card">
       <img src="{{request.user.profile.image2.url}}" alt="Profile Photo" class="profile-image">
       <h2>{{ request.user.profile.profile_name }}</h2>
       <p><strong>email:</strong> {{ request.user.profile.email }}</p>
       <p><strong>Bio:</strong> {{ request.user.profile.bio }}</p>
   </div>
   <a href={% url 'edit_profile' %}>edit profile</a>
</div>
</body>
</html>
